.mainChatContainer{
    color: white;
    width: 100%;
    height: auto;
    /* border:1px solid white; */
}
.headingChatContainer{
    background-color: #364147;
    width: 100%;
    height: auto;
    padding: 0.6rem 0 0.6rem 0;
    display: flex;
    align-items: center;
    /* border:1px solid white; */
}
.backConatiner{
    width: 10%;
    /* border:1px solid #364147; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: .9rem;
    
}
.backConatiner img{
    width: 90%;
    height: auto;
    border-radius: 50%;
    margin-left: .1rem;
}
.tochatName{
    margin-left: 6%;
}
@media(max-width:350px){
    .backConatiner img{
        width: 100%;}
}

.typeMessageContainer{
    width: 100%;
    height: auto;
    /* border:1px solid green; */
    position: absolute;
    bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid green; */
}
.typeMessagebox1{
  width: 85%;
  height: auto;
  display: flex;
  background-color: #364147;
  border-radius: 20rem;
  align-items: center;
  
}
.typeMessagebox1>textarea{
  width: 85%;
  background:transparent;
  background-color: #364147;
  height: 2rem;
  outline: none;
  border: none;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  margin-left: 5%;
  color: white;
  resize: none;
  padding-top: 0.2rem;
}
.typeMessagebox1>textarea::placeholder{
    background-color: #364147;
    text-align: left;
    /* padding-top: 0.2rem; */
}
.sendButton{
    margin-top: 0.3rem;
    width: 10%;
    
}
.shareImage{
    width: 100%;
    position: absolute;
    /* border: 1px solid white;
     */
     background-color: black;
    top:0;
    bottom:0 ;
    display: flex;
    justify-content: center;
    align-items: center;

}
.shareImage>img{
    width: 100%;
    height: auto;
}
.cancel_select_photo{
    position: absolute;
    z-index: 12;
    top: 1rem;
    left: 1rem;
}
.showMessageContainer{
    width: 100%;
    /* height: 100vh; */
    min-height:  -webkit-fill-available;
    /* border: 1px solid pink; */
    /* margin-top: 0.2rem; */
    position: absolute;
    z-index: -1;
    top:0;
    bottom: 0;
    background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;

}
.floatingMessageContainer{
    width: 95%;
    height: auto;
    background: transparent;
    /* border: 1px solid green; */
    margin-bottom: 1rem;
    position: absolute;
    z-index: 1;
    /* margin-top: 3.5rem; */
    top:3.8rem;
    bottom :3rem;
    overflow-y: scroll;

}
.messageContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.sender{
    /* border:1px solid green; */
    margin-top: 0.2rem;
    justify-content: flex-start;
    width: fit-content;
    background-color: #3a4144;
    padding: 0.15rem 0.5rem 0.15rem 0.5rem;
  border-radius:6px;
  max-width: 80%;
}
.user{
    /* width: fit-content; */
    float: right;
    /* border: 1px solid white; */
    margin-top: 0.2rem;
    display: flex;
    justify-content: flex-end;
}
#user{
  background-color: #1d6f70;
  padding: 0.15rem 0.5rem 0.15rem 0.5rem;
  border-radius:6px;
  max-width: 80%;
}
#content{
    width: 100%;
    height: 1px;
    /* border: 1px solid green; */
    /* height: 5vh; */
    margin-bottom: 0.4rem;
}
#content>p{
    font-size: .9rem;
    margin-top: 0.5rem;
    margin-bottom: 0.7rem;
    width: 100%;
    text-align: center;
}
.message-image{
    width: 50%;
    height: auto;
    float: right;
    /* border: 1px solid white; */
    margin-top: 0.2rem;
    display: flex;
    justify-content: flex-end;
    padding-left: .3rem;
    background-color: #1d6f70;
    border-radius: 4px;
    flex-direction: column;
    padding-right: 0.3rem;
    
}
.message-image>img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin: .3rem .0rem .25rem 0rem;
}
.messageimageCont{
    width: 100%;
    margin-top: 0.2rem;
    display: flex;
    justify-content: flex-end;
}
.messageimageContReceiver{
    display: flex;
}
.message-imageReceive{
    width: 50%;
    height: auto;
    float: right;
    /* border: 1px solid white; */
    margin-top: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: .3rem;
    padding-right: .3rem;
    background-color: #3a4144;
    border-radius: 4px;
}
.message-imageReceive>img{
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin:  .3rem .0rem .25rem 0rem;
}
.timeMessage{
    font-size: 0.79rem;
    color: #b3c7c7;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.timemessage-receive{
    justify-content: flex-start;
}
.messageimage_show{
    width: 100%;
    background-color: black;
    position: absolute;
    top:0;  bottom: 0; right:0; left:0;
    
    z-index: 1;
}

.messageimage_showIndiseDIv>img{
   width: 87%;
   height: auto;
   margin-top: 5rem;
}
.imageclosebutton{
    border: 1px solid grey;
    margin: 0.5rem 0.5rem 0 0.5rem;
    padding: 0.7rem;
    text-align: center;
}
.messageimage_showIndiseDIv{
    width: 100%;
    display: flex;
    max-height: 80vh;
    justify-content: center;
    background-color: black;
}
.messageimageBothContainer{
    margin-top: 0.2rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    /* padding: 0 0.3rem 0 0.3rem; */
}
.messageimageBothContainerColored{
    width: 60%;
    height: auto;
    background-color: #1d6f70;
    display: flex;
    flex-direction: column;
    padding-left: .3rem;
    border-radius: 4px;
    padding-right: 0.3rem;
}
.messageimageBothContainerImage{
    width: 100%;
    height: auto;

}
.messageimageBothContainerImage>img{
    width: 100%;
    height: auto;
    margin:  .3rem .0rem .2rem 0rem;
    border-radius: 5px;
}
.messageimageBothContainerColored>p{
    font-size: .9rem;
}
.messageimageBothContainerReceived{
    margin-top: 0.2rem;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}
.messageimageBothContainerColoredReceived{
    width: 60%;
    height: auto;
    background-color: #3a4144;
    display: flex;
    flex-direction: column;
    padding-left: .3rem;
    border-radius: 4px;
    padding-right: 0.3rem;
}
.messageimageBothContainerImageReceived{
    width: 100%;
    height: auto;
}
.messageimageBothContainerImageReceived>img{
    width: 100%;
    height: auto;
    margin:  .3rem .0rem .2rem 0rem;
    border-radius: 5px;
}
.messageimageBothContainerColoredReceived>p{
    font-size: .9rem;
}