@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #131c21;
}

code {
   display: flex;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Heebo', sans-serif; 
}
